@model GamesViewModel

<tr>
    <td>@($"{@Model.PlayTime:dd-MM-yyyy HH:mm}")</td>
    <td>@($"{@Model.DepartureTime:HH:mm}")</td>
    <td><input asp-for="@Model.IsHomeGame" disabled="disabled" /></td>
    <td>@(@Model.Coach?.Name ?? "Coach missing")</td>
    <td>@(@Model.LaundryDuty?.Name ?? "LaundryDuty missing")</td>
    <td>@Model.Drivers</td>
    <td>@Model.Opponent?.Name</td>
</tr>